<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h5>Nest Digital App</h5>
       <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Employee Code</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Salary</th>
            <th scope="col">phoneno</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of data">
            <td>{{i.empcode}}</td>
            <td>{{i.empname}}</td>
            <td>{{i.designation}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.phoneno}}</td>
        </tr>  
    </tbody>
       </table>
        </div>
    </div>
</div>

